# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Model cache
model_cache/

# Vector database
vector_db/

# Uploaded files (consider keeping this directory structure but not the files)
app/static/uploads/*
!app/static/uploads/.gitkeep

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Logs
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
